.form {
    display: flex;
    background-color: rgb(202, 200, 200);
    color: black;
    border: 2px solid black;
    margin-top: 10px;
    margin: 20px;
    padding: 30px;
   
}

.form button {
    background-color: rgb(86, 86, 172);
    color: black;
    position: relative;
    border: 2px solid black; /* Added 'solid' to specify border style */
    margin-right: 10px;
    width: 90px;
    height: 40px;
    padding :10px
}

.form label{
    font-weight: bold;
    padding:5px;
}